<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"><!-- CSS only -->
<head>
    <meta charset="UTF-8">
    <title>Rockets</title>
    <!-- JavaScript Bundle with Popper -->
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet"
          th:href="@{/styles/rockets.css}">
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" th:src="@{/js/rockets.js}"></script>
</head>
<body>
<div th:insert="fragment/header">

</div>

<table
    id="rockets-table"
    class="table table-hover">
    <thead>
    <tr>
        <th data-field="id">Rocket ID</th>
        <th data-field="cone-shape">Cone Shape</th>
        <th data-field="radius">Radius</th>
        <th data-field="city-name">City Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rocket: ${rockets}">
        <td>
            <a th:text="|${rocket.id}|"
               th:href="@{/rockets/{id}(id=${rocket.id})}">
                50
            </a>
        </td>
        <td th:text="|${rocket.coneShape}|">ROUNDED</td>
        <td th:text="|${rocket.radius}|">1000</td>
        <td th:text="|${rocket.silo.city.name}|">London</td>
    </tr>
    </tbody>
</table>

</body>
</html>